openapi: 3.0.0
servers:
  - description: Production
    url: https://beyond-hotels.simplenight.com/api/v1
  - description: Simplenight Live Sandbox
    url: https://beyond-hotels.staging.simplenight.com/api/v1
info:
  version: '2.0'
  title: Simplenight API
  x-logo:
    url: simplenight-logo.png
    backgroundColor: '#FFFFFF'
    altText: Simplenight logo
  description: >
    This document describes the Simplenight API.


    * The **Locations API** provides a list of Simplenight-supported locations,
    and convenience APIs for auto-complete.


    * The **Multi-Product API** supports Hotel, Activity and Dining searches,
    bookings and cancellations.


    * The **Hotels API** supports availability and booking of hotels alone. This
    API is now **deprecated**, in favor of the multi-product API.


    * The **Dinings API** supports availability and booking of dinings alone.
    This API is now **deprecated**, in favor of the multi-product API.


    Please note that every section is expandible and nests the endpoints
    sections, those have request and response schemas and examples.


    Requests can be tried live in our [Swagger UI interface](/index.html)
tags:
  - name: Locations
    description: >
      Location-related data (cities, regions, airports, etc).

      Each of these endpoints takes [ISO 3166-1 alpha-2 country
      code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) and [ISO 639-1
      language codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) as
      query parameters.

      Right now, the supported language codes are:

      * de 

      * ja

      * fr

      * ko

      * zh

      * en

      * es

      * th


      When searching for a city by prefix, when a non-supported language code is
      requested, English will be returned as a fall back.  In bulk export
      methods, only locations with a localization will be returned when
      searching with a language code.
  - name: MultiHotel
    description: >
      **Hotel searching, hotel and room details and availability, booking and
      cancel.**


      Please note that every section is expandible and nests the endpoints
      sections, those have request and response schemas and examples.


      ---


      # A practical example


      **Searching for the right hotel**


      John and Marie are traveling to San Francisco from October 28th to October
      31st. 


      First, it is necessary to use the */locations* endpoint to get San Francisco
      ID (*location_id*), may use */locations/cities* or */locations/prefix*.
      Searching through the response will find that San Francisco *location_id*
      is *5391959*.


      After getting San Francisco's *location_id*, the ID is used for a POST
      request to the */multi/search* endpoint, also indicating start and end
      date of the trip, the amount of people and the language and currency. For the dates, the format used is with yyyy-mm-dd, it is necessary to
      specify *start_date* as *"2021-10-28"* and *end_date* as *"2021-10-31"*.
      For the guests, we need to indicate in *occupancy* that there is only John
      and Marie going, so we specify for *adults* as *2*, *children* as *0*
      (this indicates the amount of children as guests) and *num_rooms* as *1*
      (this indicates the amount of rooms the guests need). At last, we indicate
      we need the information in english and want to know the rates in US
      dollars, so we indicate *"en"* for *language* property and *"USD"* for
      *currency* property.


      We will get as the response an array nesting different objects, each object
      has the information from a single hotel with all its information,
      including its *hotel_id*, address, description, photos, available rooms
      and information about them; also, information we provided before such as
      *start_date*, *end_date* and *occupancy*. We can use this information to
      display the different options John and Marie have for their journey and can
      choose their preferred hotel and room.


      **Do you want to know more about a hotel?**


      John and Marie want to take a closer look at a hotel that appears in the
      list, in this case it is *"Four Seasons Hotel San Francisco at Embarcadero"*.
      There is the option to simplify the response to a single specific hotel:
      we can use the */multi/search* endpoint as before, but instead of
      *"location_id": "5391959"* we will use *"hotel_id": "16750"* (The hotel_id
      is obtained from the */multi/search* we did before). The same result will
      come from */multi/hotel-details*.


      **Doing a reservation**


      They choose this hotel for their stay, so we need to make the booking for
      them and we will use */multi/book* endpoint for that. For this we will ask for
      some information from John and Marie, we need customer information (from
      who is buying: first name, last name, phone number, email and country) and
      traveler information (from who is the main traveler: first name, last name
      and occupancy) and payment information (billing address). Also, we will
      need information from the payment service, specifically the payment
      method, payment token and buyer verification token. On our part, we must
      declare a *transaction_id* (this is an arbitrary string used to identify a
      request and prevent duplicate bookings). To set the desired room, we will set 
      the information for the *room_type* parameter from the *room_types* array 
      given in */multi/search* response; and to set the price we need to use the
      information inside the *room_rate* parameter from the *rooms* array given in 
      */multi/hotel-price-verification* response. At last, with all the collected
      data we make a POST request to the endpoint following the example and
      schema given in the */multi/book* section below. The response will bring
      an object nesting the booking status (indicating if the booking was
      successful), *booking_id*, total price, payment information and booking
      reservation information.


      **Get the booking information any time**


      At this point, John and Marie have their proper reservation. Suppose that
      they forgot the address of the hotel or the arrival day, we can see the
      booking information using the */multi/cancel* endpoint. We need to do a
      POST request using the *booking_id* that we got in the response from the
      booking and the customer last name. The response will bring an object
      nesting information such as *booking_status*, *hotel_booking_id*, prices,
      itinerary and details, we will see the boolean *is_cancellable* parameter
      that indicates if we are able to cancel the booking (it will be *true*) or
      not (it will be *false*).


      **Do you need to cancel?**


      We can do the cancelation using the */multi/cancel-confirm*
      endpoint. For it, we will do a POST request using the same *booking_id*
      and customer last name as before, and adding the *hotel_booking_id*
      obtained from the response we got from the */multi/cancel* endpoint. The
      booking is successfuly canceled when we get the response indicating the
      booking id, record locator, the booking status as *cancelled*, the
      cancelled parameter as *true* and the amount refunded.
  - name: MultiDining
    description: >
      **Dining searching, details, availability, booking and cancel.**


      Please note that every section is expandible and nests the endpoints
      sections, those have request and response schemas and examples.


      ---


      # A practical example


      **Searching for the right dining place**


      John and Marie are going to San Francisco from October 28th to October
      31st. They are looking for somewhere to have dinner.


      First, it is necessary to use the */locations* endpoint to get San Francisco
      latitude and longitude, may use */locations/cities* or
      */locations/prefix*. Searching through the response, will find that San
      Francisco's *latitude* is *37.7878* and *longitude* is *-122.4075*.


      After getting San Francisco's latitude and longitude, you will use it for
      a POST request to the */multi/search* endpoint, also indicating the date,
      the amount of people and the time. The dining response is paginated, so we
      also have *current_page* to navigate trought the different pages and
      *page_page* that indicates the amount of items per page. For the date, the
      format used is with yyyy-mm-dd, it is necessary to specify the *date* as
      *"2021-10-29"*. For the time, the format used is 24 hours, so we will use
      "18:00" for *time* property. For the guests, we need to indicate in
      *covers* that there are only John and Marie going, so we specify it as *2*.
      Lastly we indicate the page we want to see and how many items we want
      there, so *current_page* will be set as *1* and *page_page* as *20*.


      We will get as a response an object nesting different objects, each object
      has the information from a single dining place with all its information,
      including its *dining_id*, name, photo, ratings, categories, location,
      phone and opening hours. We can use this information to display the
      different options John and Marie have for their journey and they can choose
      their preferred place and time.


      **Do you want to know more about a restaurant?**


      John and Marie want to take a closer look at a place that appears in the
      list, in this case it is *"Persona"*. There is the option to simplify the
      response to a single specific item: we can use the */multi/detail* endpoint,
      and use *"dining_id": "5D71_0GNtJiAbu-hivtA6g"* (The *dining_id* is
      obtained from the */multi/search* we did before).


      **Doing a reservation**


      They choose this place for their dining, so we need to make the booking
      for them and we will use the */multi/book* endpoint for that. For this we will
      request some information from John and Marie, we need customer information
      (from who is buying: first name, last name, phone number, email and
      country) and traveler information (from who is the main traveler: first
      name, last name and occupancy) and payment information (billing address).
      Also, we will need information from the payment service, specifically we
      need payment method, payment token and buyer verification token. On our
      part, we must declare a *transaction_id* (this is an arbitrary string used
      to identify a request and prevent duplicate bookings). At last, with all
      the collected data we make a POST request to the endpoint following the
      example and schema given in the */multi/book* section below. The response
      will bring an object nesting the booking status (indicating if the booking
      was successful), *booking_id*, dining name, date, time, address and number
      of guests.


      **Get the booking information any time**


      At this point, John and Marie have their proper reservation. Suppose that
      they forgot the address or the date, we can see the booking information
      using the */multi/cancel* endpoint. We need to do a POST request using the
      *booking_id* we got in the response from the booking and the customer last
      name. The response will bring an object nesting information such as
      *booking_status*, *dining_booking_id*, record locator, name, address,
      date, time, covers and booking status.


      **Do you need to cancel?**


      We can do the cancelation using the */multi/cancel-confirm*
      endpoint. For this, we will do a POST request using the same *booking_id*
      and customer last name as before, and adding the *dining_booking_id*
      obtained from the response we got from the */multi/cancel* endpoint. The
      booking is successfuly canceled when we get the response indicating the
      booking id, record locator, the booking status as *cancelled*, the
      cancelled parameter as *true*. For dining, there is no need to process refunds.
  - name: MultiActivity
    description: >
      **Activity searching, details, availability, booking and cancel.**


      Please note that every section is expandible and nests the endpoints
      sections, those have request and response schemas and examples.


      ---


      # A practical example


      **Searching for the right activity**


      John and Marie are going to San Francisco from October 28th to October
      31st. They are looking for an activity to do while they are there.


      First, it is necessary to use the */locations* endpoint to get the San Francisco
      ID (*location_id*), we may use */locations/cities* or */locations/prefix*.
      Searching through the response will find that San Francisco's *location_id*
      is *5391959*.


      After getting San Francisco's *location_id*, you will use it for a POST
      request to the */multi/search* endpoint, also indicating start and end date of
      the trip, the amount of people and currency. For the dates, the
      format used is with yyyy-mm-dd, it is necessary to specify the *start_date* as
      *"2021-10-28"* and *end_date* as *"2021-10-31"*. For the guests, we need
      to indicate that only John and Marie going, so we specify for
      *adults* as *2*, *children* as *0* (this indicates the amount of children
      as guests). Lastly, we indicate we want to know the rates in US dollars,
      so we indicate *"USD"* for *currency* property.


      We will get as a response an array nesting different objects, each object
      has the information from a single activity with all its information,
      including its *activity_id*, description, activity date, price, location,
      categories, images, rating, reviews, duration range, languages and meeting
      point. We can use this information to display the different options John
      and Marie have for their journey and they can choose their preferred activity.
      


      **Do you want to know more about an activity?**


      John and Marie want to take a closer look at an activity that appears in
      the list, in this case it is *"San Francisco happy hour and cocktail
      cruise"*. There is the option to simplify the response to a single
      specific item: we can use */multi/detail* endpoint, and use
      *"activity_id": "5fd67fa6:04353b69-2052-43a9-a109-fc238d438001"* (The
      *activity_id* is obtained from the */multi/search* we did before).


      **Let's check the available times**


      To know the available tickets for the activity, we will use the
      */multi/variants* endpoint. We just need to make a POST request to the
      endpoint indicating the *activity_id*, date and currency, and we will have
      a response with an object nesting the different variants available as
      arrays. The information received indicates the available times with their
      proper *code* (this code is unique for this variant of the selected
      activity), also name, description, price, capacity, currency and type of
      activity.


      **Doing a reservation**


      They choose the activity and time, so we need to make the booking for them
      and we will use the */multi/book* endpoint for that. For this we will ask some
      information from John and Marie, we need customer information (from who is
      buying: first name, last name, phone number, email and country) and
      traveler information (from who is the main traveler: first name, last name
      and occupancy) and payment information (billing address). Also, we will
      need information from the payment service, specifically the payment
      method, payment token and buyer verification token. On our part, we must
      declare a *transaction_id* (this is an arbitrary string used to identify a
      request and prevent duplicate bookings). At last, with all the data collected
      we make a POST request to the endpoint following the example and
      schema given in the */multi/book* section below (please note that the
      code inside the items array, is from the selected variant from the
      response we got from */multi/variants*). The response will bring an object
      nesting the booking status (indicating if the booking was successful),
      *booking_id*, prices, some payment information, status of the reservation,
      name of the activity, ids, date, time and address.


      **Get the booking information any time**


      At this point, John and Marie have their confirmed reservation. Suppose that
      they forget the address or the date, we can see the booking information
      using the */multi/cancel* endpoint. We need to do a POST request using the
      *booking_id* we got in the response from the booking and the customer last
      name. The response will bring an object nesting information such as
      *booking_status*, *activity_booking_id*, if its cancellable, amount to
      refund, and information about the selected activity.


      **Do you need to cancel?**


      We can do the cancelation using the */multi/cancel-confirm*
      endpoint. For this, we will do a POST request using the same *booking_id*
      and customer last name as before, and adding the *activity_booking_id*
      obtained from the response we got from the */multi/cancel* endpoint. The
      booking is successfuly cancelled when we get the response indicating the
      booking id, record locator, the booking status as *cancelled*, the
      cancelled parameter as *true* and the amount refunded.
  - name: MultiProduct
    description: >
      **Search, get details, availability, do bookings and cancel one or
      multiple products in a single request.**


      Currently, hotel, activity and dining are supported.


      Please note that every section is expandible and nests the endpoints
      sections, those have request and response schemas and examples.


      ---


      # A practical example


      **Searching for the right hotel, dining place and activity**


      John and Marie are going to San Francisco from October 28th to October
      31st. They are looking for a hotel, to have dinner and do an activity.


      First, it is necessary to use the /locations endpoint to get San Francisco's ID
      (*location_id*), latitude and longitude, we may use */locations/cities* or
      */locations/prefix*. Searching through the response will find that San
      Francisco's *location_id* is *5391959*, its *latitude* is *37.7878* and
      *longitude* is *-122.4075*.


      After getting San Francisco's *location_id*, you will use it for a POST
      request to the */multi/search* endpoint. We need to complete the fields
      for *product_types* as *“hotels”*, *“activities”* and/or *“dining”*,
      according John and Marie needs. Also complete each parameter as it
      follows: *hotel_search* including *location_id*, *start_date*, *end_date*,
      *occupancy* (*adults*, *children* and *num_rooms*), *language* and
      *currency*; *dining_search* including *covers*, *current_page*,
      *per_page*, *latitude*, *longitude*, *time* and *date*; *activity_search*
      including *location_id*, *begin_date*, *end_date*, *adults* and
      *children*.


      We will get as a response an object nesting arrays for each category named 
      *hotel_results*, *activity_results* and *dining_results*. Each array nests
      objects for each hotel, activity or dining, and their proper information. We
      can use this information to display the different options John and Marie
      have for their journey and they can make their preferred choice.


      **Do you want to know more about something?**


      John and Marie want to take a closer look at some options that appear in
      the list. There is the option to simplify the response to a specific item
      of activity and/or dining: we can use */multi/detail* endpoint. We can use
      the parameters *activity_detail* and *dining_detail* and get the details
      of a specific activity and/or restaurant. For hotels, we can use the
      */multi/search* endpoint, but instead of *"location_id"* we will use
      *"hotel_id"* (The *hotel_id* is obtained from the */multi/search* we did
      before).


      The response will return an object nesting an object for the requested
      activity and an object for the requested dining location.


      **Let's check the activity available times**


      To see the available tickets for the activity, we will use the
      */multi/variants* endpoint. We just need to make a POST request to the
      endpoint indicating the *activity_id*, *date* and *currency*, and we will
      have a response with an object nesting the different variants available as
      arrays. The information received indicates the available times and other
      information such as the proper code (this *code* is unique for this
      variant of the selected activity).


      **Doing a reservation**


      After John and Marie choose the hotel, activity and dining, we can help
      them do the booking and we will use the */multi/book* endpoint for this.
      We need to ask for some information from John and Marie, we need customer
      information (from who is buying: first name, last name, phone number,
      email and country) and traveler information (from who is the main
      traveler: first name, last name and occupancy) and payment information
      (billing address). Also, we will need information from the payment
      service, specifically the payment method, payment token and buyer
      verification token. On our part, we must declare a *transaction_id* (this
      is an arbitrary string used to identify a request and prevent duplicate
      bookings). Lastly, with all the data collected we make a POST request to
      the endpoint following the example and schema given in the */multi/book*
      section below. The response will bring an object nesting the booking
      status (indicating if the booking was successful), *booking_id*, prices,
      some payment information, status of the reservation, hotel reservation
      information, activity reservation information and dining reservation
      information.


      **Get the booking information any time**


      At this point, John and Marie have their confirmed reservation. Suppose that
      they forgot the address or the date, we can see the booking information
      using the */multi/cancel* endpoint. We need to do a POST request using the
      *booking_id* we got in the response from the booking and the customer last
      name. The response will bring an object nesting information of the whole
      booking and of each item booked.


      **Do you need to cancel?**


      We can do the cancelation using the */multi/cancel-confirm*
      endpoint. For this, we will do a POST request using the same *booking_id*
      and customer last name as before, and adding the *hotel_booking_id*,
      *activity_booking_id* and *dining_booking_id* obtained from the response
      we got from the */multi/cancel* endpoint. The booking is successfuly
      cancelled when we get the response indicating the booking ID, record locator, the booking status as cancelled, the cancelled parameter as true
      and the amount refunded.
  - name: Hotel
    description: >
      Hotel availabilty, hotel details, hotel booking, and hotel cancel
      endpoints.


      This API is now **deprecated**, in favor of the multi-product API.
  - name: Dining
    description: |
      Dining availabilty, Dining details, and Dining booking endpoints

      This API is now **deprecated**, in favor of the multi-product API.
security:
  - ApiKeyAuth: []
paths:
  //multi/search:
    post:
      tags:
        - MultiHotel
      summary: Search for available hotels
      description: >
        Using the parameters *location_id* (obtained from */location/cities*
        endpoint), *start_date*, *end_date*, *occupancy* (that contains
        *adults*, *children* and *num_rooms*), *language*, and *currency*.

        There is the posibility to use the parameter *hotel_id* in the place of
        *location_id* if you want to do a search for a specific hotel. The
        parameter *hotel_id* is obtained from */multi/search* response.


        Steps:


        1. Define *location_id* as *location_id* indicates in locations endpoint
        response for the desired location.


        2. Post to the API URL given, completing the fields for *product_types*
        as “hotels” and *hotel_search* that includes *location_id*,
        *start_date*, *end_date*, *occupancy* (that contains *adults*,
        *children* and *num_rooms*), *language*, and *currency*.


        3. The response is an array of hotels and its rooms available for the
        information provided in the request made. Each object has the following
        parameters: *hotel_id*, *start_date*, *end_date*, *hotel_details* (that
        contains: *name*, *address*, *hotel_code*, *checkin_time*,
        *checkout_time*, *photos*, *amenities*, *thumbnail_ur*, *geolocation*,
        *phone_number*, *email*, *homepage_url*, *chain_code*, *chain_name*,
        *star_rating*, *review_rating*, and *property_description*), *occupancy*
        (that contains *adults*, *children* and *num_rooms*), *room_types* (that
        for each room contains *code*, *name*, *description*, *amenities*,
        *photos*, *capacity*, *bed_types*, *total_base_rate*, *total_tax_rate*,
        *total*, *rate_type*, *avg_nightly_rate*, *cancellation_policy*,
        *daily_rates*, *unstructured_policies* and *postpaid_fees*),
        *avg_nightly_rate*, *avg_nightly_base*, *avg_nightly_tax* and *error*.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >
                Parameters to search for hotels.  Will return all hotels
                available on any date between start_date and end_date for a
                given occupancy (children, adults).
              properties:
                product_types:
                  type: array
                  items:
                    example:
                      - hotels
                hotel_search:
                  type: object
                  title: Hotel search request
                  required:
                    - location_id
                    - start_date
                    - end_date
                    - occupancy
                  properties:
                    location_id:
                      type: string
                      description: Simplenight Hotel ID
                      example: '5391959'
                    start_date:
                      type: string
                      format: date
                      description: The checkin date
                      example: '2021-10-28'
                    end_date:
                      type: string
                      format: date
                      description: The checkout date
                      example: '2021-10-31'
                    occupancy:
                      type: object
                      properties:
                        adults:
                          type: number
                          description: The amount of adults guests
                          example: 2
                        children:
                          type: number
                          description: The amount of children guests
                          example: 0
                        num_rooms:
                          type: number
                          description: The amount of rooms the guests need.
                          example: 1
                    language:
                      type: string
                      minLength: 2
                      maxLength: 2
                      description: >-
                        Optional. ISO-formatted 2-character language code for
                        hotel details
                      example: en
                    currency:
                      type: string
                      minLength: 3
                      maxLength: 3
                      description: Optional.  ISO-format 3-character currency code
                      example: USD
      responses:
        '200':
          description: List of matching hotels
          content:
            application/json:
              schema:
                type: object
                properties:
                  hotel_results:
                    type: array
                    items:
                      type: object
                      required:
                        - hotel_id
                        - start_date
                        - end_date
                        - occupancy
                        - room_types
                        - rate_plans
                        - room_rates
                        - hotel_details
                        - average_nightly_rate
                        - average_nightly_tax
                        - average_nightly_base
                      properties:
                        hotel_id:
                          type: string
                          example: '16750'
                          description: A SimpleNights Hotel ID
                        start_date:
                          type: string
                          format: date
                          example: '2021-10-28'
                          description: Checkin date
                        end_date:
                          type: string
                          format: date
                          example: '2021-10-31'
                          description: Checkout date
                        hotel_details:
                          type: object
                          required:
                            - name
                            - address
                          properties:
                            name:
                              type: string
                              description: Name of the hotel
                              example: Four Seasons Hotel San Francisco at Embarcadero
                            address:
                              required:
                                - address1
                                - city
                                - province
                                - postal_code
                                - country
                              properties:
                                city:
                                  type: string
                                  description: The city of the hotel
                                  example: San Francisco
                                province:
                                  type: string
                                  description: The administrative region of the city
                                  example: CA
                                country:
                                  type: string
                                  description: ISO-format two-character country code
                                  example: US
                                address1:
                                  type: string
                                  example: 222 Sansome Street
                                  description: The first line of the address.  Required.
                                address2:
                                  type: string
                                  example: 1st Floor
                                  description: The second line of the address.  Optional.
                                address3:
                                  type: string
                                  example: Reception
                                  description: The third line of the address.  Optional.
                                postal_code:
                                  type: string
                                  example: CA 94104
                                  description: The postal code of the hotel
                            hotel_code:
                              type: string
                              description: The code for the hotel
                              example: '700256832'
                            checkin_time:
                              type: string
                              description: The time of the checkin
                              example: '15:00'
                            checkout_time:
                              type: string
                              description: The time of the checkout
                              example: '12:00'
                            photos:
                              type: array
                              items:
                                type: object
                                required:
                                  - url
                                  - type
                                  - display_order
                                properties:
                                  url:
                                    type: string
                                    example: >-
                                      https://q-xx.bstatic.com/xdata/images/hotel/max2000/268538679.jpg?k=88c6c50315703584977c228c619a140611b9eb45db92f28bf61125a9dfd37e7b&o=
                                    description: Hotel image URL.  Always in HTTPS.
                                  type:
                                    type: string
                                    example: exterior
                                    description: The type of hotel image being returned
                                  display_order:
                                    type: integer
                                    example: 1
                                    description: >-
                                      A suggested order to display the images,
                                      beginning with 1
                            amenities:
                              type: array
                              description: The amenities the hotel have to offer
                              items:
                                type: string
                              example:
                                - Pool
                                - Parking
                                - Spa
                                - Laundry Services
                                - Hot Tub
                                - Bar
                                - Health Club or Gym
                                - Restaurant
                                - Sauna
                            thumbnail_url:
                              type: string
                              example: >-
                                //mobileimg.priceline.com/htlimg/35/3505105/thumbnail-300-square.jpg
                              description: Hotel thumbnail image URL
                            geolocation:
                              type: object
                              required:
                                - latitude
                                - longitude
                              properties:
                                latitude:
                                  type: number
                                  example: '37.792325'
                                longitude:
                                  type: number
                                  example: '-122.400942'
                            phone_number:
                              type: string
                              example: +1 (555)-867-5309
                              description: Hotel phone number
                            email:
                              type: string
                              example: frontdesk@hotel.com
                              format: email
                              description: The hotel email address
                            homepage_url:
                              type: string
                              example: https://www.foobazhotel.com/
                              description: URL to the website's homepage
                            chain_code:
                              type: string
                              example: FS
                              description: Hotel chain code
                            chain_name:
                              type: string
                              example: Four Seasons
                              description: Hotel chain name
                            star_rating:
                              type: number
                              format: float
                              example: 5
                            review_rating:
                              type: number
                              format: float
                              example: 9.8
                            property_description:
                              type: string
                              example: >-
                                Featuring stunning views of downtown San
                                Francisco from each spacious guestroom, Four
                                Seasons Hotel San Francisco at Embarcadero
                                offers gourmet on-site dining, in-room massage
                                services and easy access to sites such as
                                Chinatown, 7 minutes’ walk away. Featuring free
                                WiFi, each air-conditioned room at Four Seasons
                                Hotel San Francisco at Embarcadero combines
                                timeless design with modern amenities such as
                                flat-screen TVs and iPod docking stations. With
                                rooms located on the top 11 floors of a 48-story
                                tower, the hotel offers breathtaking views of
                                San Francisco. In-room dining is available to
                                guests from 6:00 to 22:00. Guests of Four
                                Seasons Hotel San Francisco at Embarcadero can
                                start the day with a workout in the 24-hour
                                fitness centre or enjoy a yoga class. Offering
                                unique shops, restaurants and nightlife, vibrant
                                Union Square is 12 minutes’ walk away from this
                                hotel. Offering service to San Francisco
                                International Airport, Embarcadero BART (Bay
                                Area Rapid Transit) station is 6 minutes’ walk
                                away.
                              description: Description of the hotel property
                        occupancy:
                          type: object
                          properties:
                            adults:
                              type: number
                              description: The amount of adults guests
                              example: 2
                            children:
                              type: number
                              description: The amount of children guests
                              example: 0
                            num_rooms:
                              type: number
                              description: The amount of rooms the guests need.
                              example: 1
                        room_types:
                          type: array
                          items:
                            type: object
                            description: The types of physical rooms available
                            required:
                              - code
                              - name
                            properties:
                              code:
                                type: string
                                description: The unique ID for the room type
                                example: 9e130c1c
                              name:
                                type: string
                                description: The descriptive name for the room type
                                example: City View - Deluxe King
                              description:
                                type: string
                                description: The long description of the room type
                                example: City View - Deluxe King.
                              amenities:
                                type: array
                                items:
                                  type: string
                                example:
                                  - Minibar
                                  - Free wifi
                              photos:
                                type: array
                                items:
                                  type: object
                                  required:
                                    - url
                                    - type
                                    - display_order
                                  properties:
                                    url:
                                      type: string
                                      example: >-
                                        https://q-xx.bstatic.com/xdata/images/hotel/max2000/165679674.jpg?k=96f777057b9d53a3d1561f4a9c440850baee267301757b64c03df79052a005a1&o=
                                      description: Hotel room image URL.  Always in HTTPS.
                                    type:
                                      type: string
                                      example: interior
                                      description: The type of hotel image being returned
                                    display_order:
                                      type: integer
                                      example: 1
                                      description: >-
                                        A suggested order to display the images,
                                        beginning with 1
                              capacity:
                                type: object
                                properties:
                                  adults:
                                    type: number
                                    description: The amount of adults guests
                                    example: 2
                                  children:
                                    type: number
                                    description: The amount of children guests
                                    example: 0
                                  num_rooms:
                                    type: number
                                    description: The amount of rooms the guests need.
                                    example: 1
                              bed_types:
                                type: object
                                description: >-
                                  The number and type of beds available in the
                                  room
                                properties:
                                  total_beds:
                                    type: integer
                                    example: 1
                                    description: The total number of beds in the room
                                  king_beds:
                                    type: integer
                                    example: 1
                                    description: >-
                                      The total number of king-sized beds in the
                                      room
                                  queen_beds:
                                    type: integer
                                    example: 0
                                    description: >-
                                      The total number of queen-sized beds in
                                      the room
                                  double_beds:
                                    type: integer
                                    example: 0
                                    description: >-
                                      The total number of double beds in the
                                      room
                                  single_or_twin_beds:
                                    type: integer
                                    example: 0
                                    description: >-
                                      The total number of single-sized beds in
                                      the room
                                  murphy_beds:
                                    type: integer
                                    example: 0
                                    description: >-
                                      The total number of Murphy-style beds in
                                      the room
                                  sofa_beds:
                                    type: integer
                                    example: 1
                                    description: >-
                                      The total number of convertible sofa beds
                                      in the room
                                  bunk_beds:
                                    type: integer
                                    example: 0
                                    description: The total number of bunk beds in the room
                                  other_beds:
                                    type: integer
                                    example: 0
                                    description: Any other type of beds in the room
                              total_base_rate:
                                type: object
                                properties:
                                  amount:
                                    type: integer
                                    example: 1923.47
                                  currency:
                                    type: string
                                    example: USD
                              total_tax_rate:
                                type: object
                                properties:
                                  amount:
                                    type: integer
                                    example: 269.04
                                  currency:
                                    type: string
                                    example: USD
                              total:
                                type: object
                                properties:
                                  amount:
                                    type: integer
                                    example: 2192.51
                                  currency:
                                    type: string
                                    example: USD
                              rate_type:
                                type: string
                                example: BOOKEABLE
                              avg_nightly_rate:
                                type: object
                                properties:
                                  amount:
                                    type: integer
                                    example: 730.84
                                  currency:
                                    type: string
                                    example: USD
                              cancellation_policy:
                                type: object
                                properties:
                                  summary:
                                    type: string
                                    example: FREE_CANCELLATION
                                  cancellation_deadline:
                                    type: string
                                    example: '2021-10-25'
                                  unstructured_policies:
                                    type: string
                                    description: Textual description of hotel rate policies
                                    example: >-
                                      Any cancellation received within 3 days
                                      prior to arrival date will incur the first
                                      night charge.
                              daily_rates:
                                type: number
                                description: >-
                                  The minimum total daily rate.  Equal to
                                  minimum rate total / room_days
                                example: 181.9
                              unstructured_policies:
                                type: string
                                description: Textual description of hotel rate policies
                              postpaid_fees:
                                type: object
                                properties:
                                  total:
                                    type: object
                                    properties:
                                      amount:
                                        type: number
                                        example: 52.41
                                      currency:
                                        type: string
                                        example: USD
                                  fees:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        amount:
                                          type: object
                                          properties:
                                            amount:
                                              type: number
                                              example: 52.41
                                            currency:
                                              type: string
                                              example: USD
                                        type:
                                          type: string
                                          example: UNKNOWN_FEES
                                        description:
                                          type: string
                                          example: FEE
                        average_nightly_rate:
                          type: number
                          description: >-
                            The minimum total nightly rate.  Equal to minimum
                            rate total / room_nights
                          example: 730.84
                        average_nightly_base:
                          type: number
                          description: >-
                            The minimum total nightly taxes.  Equal to the
                            minimum base total / room_nights
                          example: 641.16
                        average_nightly_tax:
                          type: number
                          description: >-
                            The minimum total nightly taxes.  Equal to the
                            minimum tax total / room_nights
                          example: 89.69
                        error:
                          required:
                            - type
                            - message
                          properties:
                            type:
                              type: object
                              enum:
                                - UNKNOWN_ERROR: null
                                - API_VERSION_UNSUPPORTED: null
                                - DATE_SELECTION_INVALID: null
                                - HOTEL_NOT_FOUND: null
                                - NETWORK_ERROR: null
                                - RECOVERABLE_ERROR: null
                                - REQUEST_DATA_INVALID: null
                                - REQUEST_INCOMPLETE: null
                                - REQUEST_NOT_PARSABLE: null
                                - SUPPLIER_ERROR: null
                            message:
                              type: string
                              example: Error while searching hotel supplier
                              description: Unstructed, detailed error message
  //multi/hotel-details:
    post:
      tags:
        - MultiHotel
      summary: Get details of a specific hotel
      description: >
        Using the parameters *hotel_id* (obtained from */multi/search*
        endpoint), *start_date*, *end_date*, and *occupancy* (that contains
        *adults*, *children* and *num_rooms*).


        Steps: 


        1. From the search endpoint response define hotel_id for hotel_detail. 


        2. Post to the API URL given, complete the fields for hotel_detail
        complete the fields hotel_id, start_date, end_date and occupancy
        (adults, children and num_rooms) 


        3. The response will bring an object with the parameters hotel_results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Parameters to get details for a hotel.
              properties:
                hotel_id:
                  type: string
                  example: '16750'
                  description: Hotel ID obtained from /multi/search endpoint response.
                start_date:
                  type: string
                  format: date
                  description: The checkin date
                  example: '2021-10-28'
                end_date:
                  type: string
                  format: date
                  description: The checkout date
                  example: '2021-10-31'
                occupancy:
                  type: object
                  properties:
                    adults:
                      type: number
                      description: The amount of adults guests
                      example: 2
                    children:
                      type: number
                      description: The amount of children guests
                      example: 0
                    num_rooms:
                      type: number
                      description: The amount of rooms the guests need.
                      example: 1
      responses:
        '200':
          description: List of matching hotels
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - hotel_id
                    - start_date
                    - end_date
                    - occupancy
                    - room_types
                    - rate_plans
                    - room_rates
                    - hotel_details
                    - average_nightly_rate
                    - average_nightly_tax
                    - average_nightly_base
                  properties:
                    hotel_id:
                      type: string
                      example: '16750'
                      description: A SimpleNights Hotel ID
                    start_date:
                      type: string
                      format: date
                      example: '2021-10-28'
                      description: Checkin date
                    end_date:
                      type: string
                      format: date
                      example: '2021-10-31'
                      description: Checkout date
                    hotel_details:
                      type: object
                      required:
                        - name
                        - address
                      properties:
                        name:
                          type: string
                          description: Name of the hotel
                          example: Four Seasons Hotel San Francisco at Embarcadero
                        address:
                          required:
                            - address1
                            - city
                            - province
                            - postal_code
                            - country
                          properties:
                            city:
                              type: string
                              description: The city of the hotel
                              example: San Francisco
                            province:
                              type: string
                              description: The administrative region of the city
                              example: CA
                            country:
                              type: string
                              description: ISO-format two-character country code
                              example: US
                            address1:
                              type: string
                              example: 222 Sansome Street
                              description: The first line of the address.  Required.
                            address2:
                              type: string
                              example: 1st Floor
                              description: The second line of the address.  Optional.
                            address3:
                              type: string
                              example: Reception
                              description: The third line of the address.  Optional.
                            postal_code:
                              type: string
                              example: CA 94104
                              description: The postal code of the hotel
                        hotel_code:
                          type: string
                          description: The code for the hotel
                          example: '700256832'
                        checkin_time:
                          type: string
                          description: The time of the checkin
                          example: '15:00'
                        checkout_time:
                          type: string
                          description: The time of the checkout
                          example: '12:00'
                        photos:
                          type: array
                          items:
                            type: object
                            required:
                              - url
                              - type
                              - display_order
                            properties:
                              url:
                                type: string
                                example: >-
                                  https://q-xx.bstatic.com/xdata/images/hotel/max2000/268538679.jpg?k=88c6c50315703584977c228c619a140611b9eb45db92f28bf61125a9dfd37e7b&o=
                                description: Hotel image URL.  Always in HTTPS.
                              type:
                                type: string
                                example: exterior
                                description: The type of hotel image being returned
                              display_order:
                                type: integer
                                example: 1
                                description: >-
                                  A suggested order to display the images,
                                  beginning with 1
                        amenities:
                          type: array
                          description: The amenities the hotel have to offer
                          items:
                            type: string
                          example:
                            - Pool
                            - Parking
                            - Spa
                            - Laundry Services
                            - Hot Tub
                            - Bar
                            - Health Club or Gym
                            - Restaurant
                            - Sauna
                        thumbnail_url:
                          type: string
                          example: >-
                            //mobileimg.priceline.com/htlimg/35/3505105/thumbnail-300-square.jpg
                          description: Hotel thumbnail image URL
                        geolocation:
                          type: object
                          required:
                            - latitude
                            - longitude
                          properties:
                            latitude:
                              type: number
                              example: '37.792325'
                            longitude:
                              type: number
                              example: '-122.400942'
                        phone_number:
                          type: string
                          example: +1 (555)-867-5309
                          description: Hotel phone number
                        email:
                          type: string
                          example: frontdesk@hotel.com
                          format: email
                          description: The hotel email address
                        homepage_url:
                          type: string
                          example: https://www.foobazhotel.com/
                          description: URL to the website's homepage
                        chain_code:
                          type: string
                          example: FS
                          description: Hotel chain code
                        chain_name:
                          type: string
                          example: Four Seasons
                          description: Hotel chain name
                        star_rating:
                          type: number
                          format: float
                          example: 5
                        review_rating:
                          type: number
                          format: float
                          example: 9.8
                        property_description:
                          type: string
                          example: >-
                            Featuring stunning views of downtown San Francisco
                            from each spacious guestroom, Four Seasons Hotel San
                            Francisco at Embarcadero offers gourmet on-site
                            dining, in-room massage services and easy access to
                            sites such as Chinatown, 7 minutes’ walk away.
                            Featuring free WiFi, each air-conditioned room at
                            Four Seasons Hotel San Francisco at Embarcadero
                            combines timeless design with modern amenities such
                            as flat-screen TVs and iPod docking stations. With
                            rooms located on the top 11 floors of a 48-story
                            tower, the hotel offers breathtaking views of San
                            Francisco. In-room dining is available to guests
                            from 6:00 to 22:00. Guests of Four Seasons Hotel San
                            Francisco at Embarcadero can start the day with a
                            workout in the 24-hour fitness centre or enjoy a
                            yoga class. Offering unique shops, restaurants and
                            nightlife, vibrant Union Square is 12 minutes’ walk
                            away from this hotel. Offering service to San
                            Francisco International Airport, Embarcadero BART
                            (Bay Area Rapid Transit) station is 6 minutes’ walk
                            away.
                          description: Description of the hotel property
                    occupancy:
                      type: object
                      properties:
                        adults:
                          type: number
                          description: The amount of adults guests
                          example: 2
                        children:
                          type: number
                          description: The amount of children guests
                          example: 0
                        num_rooms:
                          type: number
                          description: The amount of rooms the guests need.
                          example: 1
                    room_types:
                      type: array
                      items:
                        type: object
                        description: The types of physical rooms available
                        required:
                          - code
                          - name
                        properties:
                          code:
                            type: string
                            description: The unique ID for the room type
                            example: eab21164
                          name:
                            type: string
                            description: The descriptive name for the room type
                            example: City View - Deluxe King
                          description:
                            type: string
                            description: The long description of the room type
                            example: City View - Deluxe King.
                          amenities:
                            type: array
                            items:
                              type: string
                            example:
                              - Minibar
                              - Free wifi
                          photos:
                            type: array
                            items:
                              type: object
                              required:
                                - url
                                - type
                                - display_order
                              properties:
                                url:
                                  type: string
                                  example: >-
                                    https://q-xx.bstatic.com/xdata/images/hotel/max2000/165679674.jpg?k=96f777057b9d53a3d1561f4a9c440850baee267301757b64c03df79052a005a1&o=
                                  description: Hotel room image URL.  Always in HTTPS.
                                type:
                                  type: string
                                  example: interior
                                  description: The type of hotel image being returned
                                display_order:
                                  type: integer
                                  example: 1
                                  description: >-
                                    A suggested order to display the images,
                                    beginning with 1
                          capacity:
                            type: object
                            properties:
                              adults:
                                type: number
                                description: The amount of adults guests
                                example: 2
                              children:
                                type: number
                                description: The amount of children guests
                                example: 0
                              num_rooms:
                                type: number
                                description: The amount of rooms the guests need.
                                example: 1
                          bed_types:
                            type: object
                            description: The number and type of beds available in the room
                            properties:
                              total_beds:
                                type: integer
                                example: 1
                                description: The total number of beds in the room
                              king_beds:
                                type: integer
                                example: 1
                                description: >-
                                  The total number of king-sized beds in the
                                  room
                              queen_beds:
                                type: integer
                                example: 0
                                description: >-
                                  The total number of queen-sized beds in the
                                  room
                              double_beds:
                                type: integer
                                example: 0
                                description: The total number of double beds in the room
                              single_or_twin_beds:
                                type: integer
                                example: 0
                                description: >-
                                  The total number of single-sized beds in the
                                  room
                              murphy_beds:
                                type: integer
                                example: 0
                                description: >-
                                  The total number of Murphy-style beds in the
                                  room
                              sofa_beds:
                                type: integer
                                example: 1
                                description: >-
                                  The total number of convertible sofa beds in
                                  the room
                              bunk_beds:
                                type: integer
                                example: 0
                                description: The total number of bunk beds in the room
                              other_beds:
                                type: integer
                                example: 0
                                description: Any other type of beds in the room
                          total_base_rate:
                            type: object
                            properties:
                              amount:
                                type: integer
                                example: 1923.47
                              currency:
                                type: string
                                example: USD
                          total_tax_rate:
                            type: object
                            properties:
                              amount:
                                type: integer
                                example: 269.04
                              currency:
                                type: string
                                example: USD
                          total:
                            type: object
                            properties:
                              amount:
                                type: integer
                                example: 2192.51
                              currency:
                                type: string
                                example: USD
                          rate_type:
                            type: string
                            example: BOOKEABLE
                          avg_nightly_rate:
                            type: object
                            properties:
                              amount:
                                type: integer
                                example: 730.84
                              currency:
                                type: string
                                example: USD
                          cancellation_policy:
                            type: object
                            properties:
                              summary:
                                type: string
                                example: FREE_CANCELLATION
                              cancellation_deadline:
                                type: string
                                example: '2021-10-25'
                              unstructured_policies:
                                type: string
                                description: Textual description of hotel rate policies
                                example: >-
                                  Any cancellation received within 3 days prior
                                  to arrival date will incur the first night
                                  charge.
                          daily_rates:
                            type: number
                            description: >-
                              The minimum total daily rate.  Equal to minimum
                              rate total / room_days
                            example: 181.9
                          unstructured_policies:
                            type: string
                            description: Textual description of hotel rate policies
                          postpaid_fees:
                            type: object
                            properties:
                              total:
                                type: object
                                properties:
                                  amount:
                                    type: number
                                    example: 52.41
                                  currency:
                                    type: string
                                    example: USD
                              fees:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    amount:
                                      type: object
                                      properties:
                                        amount:
                                          type: number
                                          example: 52.41
                                        currency:
                                          type: string
                                          example: USD
                                    type:
                                      type: string
                                      example: UNKNOWN_FEES
                                    description:
                                      type: string
                                      example: FEE
                    average_nightly_rate:
                      type: number
                      description: >-
                        The minimum total nightly rate.  Equal to minimum rate
                        total / room_nights
                      example: 730.84
                    average_nightly_base:
                      type: number
                      description: >-
                        The minimum total nightly taxes.  Equal to the minimum
                        base total / room_nights
                      example: 641.16
                    average_nightly_tax:
                      type: number
                      description: >-
                        The minimum total nightly taxes.  Equal to the minimum
                        tax total / room_nights
                      example: 89.69
                    error:
                      required:
                        - type
                        - message
                      properties:
                        type:
                          type: object
                          enum:
                            - UNKNOWN_ERROR: null
                            - API_VERSION_UNSUPPORTED: null
                            - DATE_SELECTION_INVALID: null
                            - HOTEL_NOT_FOUND: null
                            - NETWORK_ERROR: null
                            - RECOVERABLE_ERROR: null
                            - REQUEST_DATA_INVALID: null
                            - REQUEST_INCOMPLETE: null
                            - REQUEST_NOT_PARSABLE: null
                            - SUPPLIER_ERROR: null
                        message:
                          type: string
                          example: Error while searching hotel supplier
                          description: Unstructed, detailed error message
  //multi/hotel-price-verification:
    post:
      tags:
        - MultiHotel
      summary: Get details of the price of a specific hotel room
      description: >
        Using the parameters *hotel_id* and *room_code* (both obtained from */multi/search*
        endpoint).


        Steps: 


        1. From the search endpoint response define *hotel_id* and *room_code*. 


        2. Post to the API URL given, complete the fields for *hotel_id* and *room_code*.


        3. The response will bring an object with the *rooms* array with the parameters: *hotel_id*,
        *room_code*, *error*, *message*, *room_rate* (with *code*, *room_type_code*, *maximum_allowed_occupancy*,
        *total_base_rate*, *total_tax_rate*, *total*, *rate_type*, *daily_rates*, *postpayd_fees*, *partner_data*,
        *markup_applicable* and *inventory_type*).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Parameters to get details for a hotel.
              properties:
                rooms:
                  type: array
                  description: Array with price information of the room
                  items:
                    type: object
                    properties:
                      hotel_id:
                        type: string
                        example: "16750"
                        description: hotel_id from search response
                      room_code:
                        type: string
                        example: "eab21164"
                        description: code in room_types array from search response
      responses:
        '200':
          description: Information of room rates
          content:
            application/json:
              schema:
                type: object
                properties:
                  rooms:
                    type: array
                    items:
                      type: object
                      description: Information of the selected room
                      properties:
                        hotel_id:
                          type: string
                          example: "16750"
                        room_code:
                          type: string
                          example: "eab21164"
                        error:
                          type: boolean
                          example: false
                        message:
                          type: string
                          example: null
                        room_rate:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Room code
                              example: "eab21164"
                            room_type_code:
                              type: string
                              example: "SnpcwBG57WrwlPMdz9no_tkv8C3neD6sfgrY6grNVxg"
                            rate_plan_code:
                              type: string
                              example: "771478_MERCHANT_MERCHANT__21eda21c-8270-f296-3f75-7cfebb727186"
                            maximum_allowed_occupancy:
                              type: object
                              properties:
                                adults:
                                  type: number
                                  example: 2
                                children:
                                  type: number
                                  example: 0
                                num_rooms:
                                  type: number
                                  example: 1
                            total_base_rate:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  example: 1923.47
                                currency:
                                  type: string
                                  example: "USD"
                            total_tax_rate:
                              type: object
                              properties:
                                amount:
                                  type: integer
                                  example: 269.04
                                currency:
                                  type: string
                                  example: USD
                            total:
                              type: object
                              properties:
                                amount:
                                  type: integer
                                  example: 2192.51
                                currency:
                                  type: string
                                  example: USD
                            rate_type:
                              type: string
                              example: BOOKEABLE
                            daily_rates:
                              type: number
                              description: "The minimum total daily rate.  Equal to minimum
                              rate total / room_days"
                              example: 181.9
                            postpaid_fees:
                              type: object
                              properties:
                                total:
                                  type: object
                                  properties:
                                    amount:
                                      type: number
                                      example: 52.41
                                    currency:
                                      type: string
                                      example: USD
                                fees:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      amount:
                                        type: object
                                        properties:
                                          amount:
                                            type: number
                                            example: 52.41
                                          currency:
                                            type: string
                                            example: USD
                                      type:
                                        type: string
                                        example: UNKNOWN_FEES
                                      description:
                                        type: string
                                        example: FEE
                            parter_data:
                              type: string
                              example: null
                            markup_applicable:
                              type: boolean
                              example: true
                            inventory_type:
                              type: string
                              example: "priceline"
  //multi/book:
    post:
      tags:
        - MultiHotel
      summary: Submit a booking request and receive a Reservation in response.
      description: >
        Collect a customer record, payment information and itinerary for booking
        and return a Reservation on success.


        Steps:


        1. For the booking endpoint it is necessary to declare a
        *transaction_id*, this is an arbitrary string used to identify a request
        and prevent duplicate bookings; *room_type* and *provider_rate* (this last parameter info is obtained from the */multi/hotel-price-verification* endpoint response). Also, customer, traveler and billing
        address information must be provided by the user. Payment information is
        provided by the payment service.


        2. Post to the API URL given, please follow the example in the
        parameters section.


        3. The response will return an object with the information of the
        booking, including the fields *status*, *booking_id*,
        *booking_reference*, *total_retail_price*, *total_retail_tax*,
        *payment_information* and *hotel_reservation*.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Booking request.
              properties:
                api_version:
                  type: integer
                  example: 1
                  description: The API version of the request
                transaction_id:
                  type: string
                  format: uuid
                  description: >-
                    Arbitrary string used to identify a request, and prevent
                    duplicate bookings
                language:
                  type: string
                  description: a locale string for the customer
                  example: en_US
                customer:
                  type: object
                  properties:
                    first_name:
                      type: string
                      example: John
                    last_name:
                      type: string
                      example: Smith
                    phone_number:
                      type: string
                      example: '15558675309'
                    email:
                      type: string
                      example: smith@mail.com
                    country:
                      type: string
                      example: US
                traveler:
                  type: object
                  properties:
                    first_name:
                      type: string
                      example: John
                    last_name:
                      type: string
                      example: Smith
                    occupancy:
                      type: object
                      properties:
                        adults:
                          type: number
                          description: The amount of adults guests
                          example: 2
                        children:
                          type: number
                          description: The amount of children guests
                          example: 0
                        num_rooms:
                          type: number
                          description: The amount of rooms the guests need.
                          example: 1
                payment:
                  type: object
                  properties:
                    payment_method:
                      type: string
                      example: PAYMENT_TOKEN
                    payment_token:
                      type: string
                      example: cnon:card-nonce-ok
                    buyer_verification_token:
                      type: string
                      example: stringtoken
                    billing_address:
                      type: object
                      properties:
                        address1:
                          type: string
                          example: 5554 W 9th St
                        address2:
                          type: string
                          example: null
                        address3:
                          type: string
                          example: null
                        city:
                          type: string
                          example: Los Angeles
                        province:
                          type: string
                          example: CA
                        postal_code:
                          type: string
                          example: CA 90036
                        country:
                          type: string
                          example: US
                hotel_booking:
                  type: array
                  title: Hotels
                  description: >
                    Array of Hotel items to be booked - must follow the given
                    structure
                  items:
                    type: object
                    properties:
                      hotel_id:
                        type: string
                        example: '16750'
                      room_type:
                        type: object
                        description: The types of physical rooms available
                        required:
                          - code
                          - name
                        properties:
                          code:
                            type: string
                            description: The unique ID for the room type
                            example: eab21164
                          name:
                            type: string
                            description: The descriptive name for the room type
                            example: City View - Deluxe King
                      provider_rate:
                        type: object
                        properties:
                            code:
                              type: string
                              description: Room code
                              example: "eab21164"
                            total:
                              type: object
                              properties:
                                amount:
                                  type: integer
                                  example: 2192.51
                                currency:
                                  type: string
                                  example: USD
                            rate_type:
                              type: string
                              example: BOOKEABLE
                additional_info:
                  type: string
                  description: Additional information for booking request
                  example: Twin bed please
      responses:
        '200':
          description: Reservation on success, or else an Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_version:
                    type: integer
                    example: 1
                    description: The API version of the response
                  transaction_id:
                    type: string
                    format: uuid
                    description: The echoed transaction ID from the booking request
                    example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  status:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: success
                  booking_id:
                    type: string
                    description: The Simplenight Record Locator for the completed booking
                    example: H5W5W7QW
                  booking_reference:
                    type: number
                    example: 2.1160470204808192e+38
                  total_retail_price:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 2192.51
                      currency:
                        type: string
                        example: USD
                  total_retail_tax:
                    type: object
                    properties:
                      amount:
                        type: number
                        example: 269.04
                      currency:
                        type: string
                        example: USD
                  payment_information:
                    type: object
                    properties:
                      card_brand:
                        type: string
                        example: VISA
                      last_four_digits:
                        type: number
                        example: '5858'
                  hotel_reservation:
                    type: array
                    items:
                      type: object
                      description: The booking response for a successful booking
                      required:
                        - api_version
                        - transaction_id
                        - status
                        - reservation
                      properties:
                        locator:
                          type: object
                          properties:
                            id:
                              type: number
                              example: 83492619743
                            pin:
                              type: number
                              example: 174225
                        hotel_locator:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: CONF0
                              pin:
                                type: string
                                example: null
                        hotel_id:
                          type: string
                          example: '16750'
                        checkin:
                          type: string
                          example: '2021-10-28'
                        checkout:
                          type: string
                          example: '2021-10-31'
                        customer:
                          type: object
                          properties:
                            first_name:
                              type: string
                              example: John
                            last_name:
                              type: string
                              example: Smith
                            phone_number:
                              type: string
                              example: '15558675309'
                            email:
                              type: string
                              example: smith@mail.com
                            country:
                              type: string
                              example: US
                        traveller:
                          type: object
                          properties:
                            first_name:
                              type: string
                              example: John
                            last_name:
                              type: string
                              example: Smith
                            occupancy:
                              type: object
                              properties:
                                adults:
                                  type: number
                                  description: The amount of adults guests
                                  example: 2
                                children:
                                  type: number
                                  description: The amount of children guests
                                  example: 0
                                num_rooms:
                                  type: number
                                  description: The amount of rooms the guests need.
                                  example: 1
                        room_rate:
                          type: object
                          required:
                            - code
                            - room_type_code
                            - rate_plan_code
                          properties:
                            code:
                              type: string
                              example: eab21164
                              description: The unique identifier for a room rate plan
                            room_type_code:
                              type: string
                              example: y2VXgZvcx3ic2MShBTBjtA
                              description: The associated unique identifer for a room type
                            rate_plan_code:
                              type: string
                              example: >-
                                1523068_MERCHANT_MERCHANT__0f415631-972f-e559-f4ed-e10dbf12da62
                              description: The associated unique identifier for a rate plan
                            maximum_allowable_occupancy:
                              type: object
                              properties:
                                adults:
                                  type: number
                                  description: The amount of adults guests
                                  example: 2
                                children:
                                  type: number
                                  description: The amount of children guests
                                  example: 0
                                num_rooms:
                                  type: number
                                  description: The amount of rooms the guests need.
                                  example: 1
                            total_base_rate:
                              type: object
                              properties:
                                amount:
                                  type: number
                                  example: 1923.47
                                currency:
                                  type: string
                                  example: USD
                            total_tax_rate:
                              type: object
[...]
